recursive-include qcfractal *.py
recursive-include qcfractal/interface/data *.npy
recursive-include qcfractal/interface/data *.psimol
recursive-include qcfractal/interface/data *.json

include setup.py
include README.md
include LICENSE
include MANIFEST.in

include versioneer.py
include qcfractal/_version.py
