recursive-include qcfractal *.py
recursive-include qcfractal/interface/data *.npy
recursive-include qcfractal/interface/data *.psimol
recursive-include qcfractal/interface/data *.json
recursive-include qcfractal/cli/tests *.json
recursive-include qcfractal/cli/tests *.yaml

include setup.py
include README.md
include LICENSE
include MANIFEST.in

include versioneer.py
include qcfractal/_version.py
