name: Full Snowflake End-to-end tests

on:
  push:
    branches:
      - main
      - next
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - main
      - next
    paths-ignore:
      - 'docs/**'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Clone the QCArchive repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure conda for the snowflake
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: qcarchive-snowflake
          environment-file: qcarchivetesting/conda-envs/fulltest_snowflake.yaml
          auto-activate-base: false

      - name: Conda info
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Install All QCArchive packages
        shell: bash -l {0}
        run: |
          pip install --no-deps -e ./qcportal -e ./qcfractalcompute -e ./qcfractal -e ./qcarchivetesting

      - name: Run Tests
        shell: bash -l {0}
        run: |
          pytest --log-level=DEBUG --fractal-uri="snowflake" qcarchivetesting
